In [6]:
import pandas as pd 
import os 

print(os.getcwd())

train_df = pd.read_csv(os.getcwd()+"\california_housing_train.csv")
test_df = pd.read_csv(os.getcwd()+"\california_housing_test.csv")
train_df

d:\MachineLearning_Foundation

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [7]:
print(train_df.shape)
print(test_df.shape)

(17000, 9)
(3000, 9)

In [8]:
drop_cols_train = train_df.drop(columns=['latitude','longitude'])
drop_cols_test = test_df.drop(columns=['latitude','longitude'])

In [9]:
drop_cols_train

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...
16995,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [11]:
train_x = drop_cols_train.iloc[:,:-1] # index location
train_y = drop_cols_train[['median_house_value']]
test_x = drop_cols_test.iloc[:,:-1]
test_y = drop_cols_test[['median_house_value']]

In [13]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
train_x = ss.fit_transform(train_x)
train_y = ss.fit_transform(train_y)
test_x = ss.fit_transform(test_x)
test_y = ss.fit_transform(test_y)

In [14]:
train_x

array([[-1.07967114,  1.36169494,  1.76420407, -0.36118401, -0.07599796,
        -1.25254316],
       [-0.76187201,  2.29660752,  3.23044127, -0.26186523, -0.09940441,
        -1.08148298],
       [-0.92077158, -0.88246225, -0.86695622, -0.95535424, -0.99925206,
        -1.17010515],
       ...,
       [-0.92077158,  0.01529238, -0.01995512, -0.16167524, -0.11760942,
        -0.44666313],
       [-0.76187201,  0.01299867,  0.02986848, -0.1146295 , -0.06039367,
        -0.99778717],
       [ 1.85997083, -0.377848  , -0.56801465, -0.54326844, -0.60134255,
        -0.45536288]])

In [15]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(train_x,train_y)

In [16]:
y_predict = model.predict(test_x)

In [22]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

mean_squared_error(test_y,y_predict)

0.45396174865086414

In [19]:
mean_absolute_error(test_y,y_predict)

0.49272391016802963

In [24]:
summ = sum([(y-y_predict)**2 for y,y_predict in zip(test_y,y_predict)])