In [3]:
import pandas as pd 
df = pd.read_csv('all_month.csv')

In [4]:
df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2025-04-04T02:10:57.540Z,38.792000,-122.761002,2.090000,1.070000,md,16.0,62.0,0.008671,0.02,...,2025-04-04T02:27:18.222Z,"2 km of The Geysers, CA",earthquake,0.28,0.530000,0.150000,16.0,automatic,nc,nc
1,2025-04-04T02:00:43.020Z,45.330166,-121.694664,4.740000,1.772495,ml,9.0,132.0,NaN,0.04,...,2025-04-04T02:02:19.030Z,"5 km ENE of Government Camp, Oregon",earthquake,0.45,0.820000,0.268624,8.0,automatic,uw,uw
2,2025-04-04T01:39:39.290Z,19.255333,-155.399170,33.029999,2.210000,ml,55.0,91.0,0.017810,0.13,...,2025-04-04T02:26:57.040Z,"10 km NE of PƒÅhala, Hawaii",earthquake,0.35,0.320000,0.530000,18.0,automatic,hv,hv
3,2025-04-04T01:37:07.106Z,-16.330600,-72.483800,111.910000,4.800000,mb,44.0,154.0,2.881000,0.79,...,2025-04-04T02:24:55.275Z,"31 km W of El Pedregal, Peru",earthquake,10.20,7.033000,0.088000,41.0,reviewed,us,us
4,2025-04-04T01:28:38.129Z,31.521000,-104.001000,4.550400,2.400000,ml,16.0,65.0,0.000000,0.40,...,2025-04-04T01:39:03.429Z,"30 km NW of Toyah, Texas",earthquake,0.00,1.340192,0.100000,12.0,automatic,tx,tx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9629,2025-03-05T02:32:47.700Z,35.246333,-97.780333,4.640000,0.410000,ml,10.0,324.0,0.018896,0.02,...,2025-03-05T02:53:27.731Z,"4 km WNW of Bridge Creek, Oklahoma",earthquake,NaN,0.200000,0.210000,5.0,reviewed,ok,ok
9630,2025-03-05T02:32:37.450Z,40.775333,-121.490833,17.180000,NaN,NaN,7.0,152.0,0.046540,0.03,...,2025-03-19T07:32:16.055Z,"19 km SE of Burney, CA",earthquake,1.19,1.750000,NaN,NaN,reviewed,nc,nc
9631,2025-03-05T02:32:28.830Z,40.744833,-121.494333,11.860000,1.630000,md,25.0,46.0,0.075520,0.11,...,2025-03-19T01:07:18.462Z,"21 km SSE of Burney, CA",earthquake,0.26,1.120000,0.253000,18.0,reviewed,nc,nc
9632,2025-03-05T02:30:00.360Z,37.556167,-113.053667,9.750000,0.990000,ml,10.0,73.0,0.047520,0.06,...,2025-03-07T18:08:32.060Z,"11 km E of Kanarraville, Utah",earthquake,0.29,0.630000,0.370579,3.0,reviewed,uu,uu
9633,2025-03-05T02:29:56.939Z,62.938600,-156.197400,0.900000,2.300000,ml,NaN,NaN,NaN,0.77,...,2025-03-05T02:32:55.990Z,"8 km SW of Takotna, Alaska",earthquake,NaN,0.400000,NaN,NaN,automatic,ak,ak

In [6]:
df.columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

In [8]:
df = df[['depth','magType','type','horizontalError']]
df

           depth magType        type  horizontalError
0       2.090000      md  earthquake             0.28
1       4.740000      ml  earthquake             0.45
2      33.029999      ml  earthquake             0.35
3     111.910000      mb  earthquake            10.20
4       4.550400      ml  earthquake             0.00
...          ...     ...         ...              ...
9629    4.640000      ml  earthquake              NaN
9630   17.180000     NaN  earthquake             1.19
9631   11.860000      md  earthquake             0.26
9632    9.750000      ml  earthquake             0.29
9633    0.900000      ml  earthquake              NaN

[9634 rows x 4 columns]

In [10]:
df['verticalError'] = df['horizontalError']/2
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9744\3093904870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['verticalError'] = df['horizontalError']/2

           depth magType        type  horizontalError  verticalError
0       2.090000      md  earthquake             0.28          0.140
1       4.740000      ml  earthquake             0.45          0.225
2      33.029999      ml  earthquake             0.35          0.175
3     111.910000      mb  earthquake            10.20          5.100
4       4.550400      ml  earthquake             0.00          0.000
...          ...     ...         ...              ...            ...
9629    4.640000      ml  earthquake              NaN            NaN
9630   17.180000     NaN  earthquake             1.19          0.595
9631   11.860000      md  earthquake             0.26          0.130
9632    9.750000      ml  earthquake             0.29          0.145
9633    0.900000      ml  earthquake              NaN            NaN

[9634 rows x 5 columns]

In [12]:
df['type'].value_counts()

type
earthquake      9443
quarry blast     117
explosion         70
ice quake          4
Name: count, dtype: int64

In [13]:
df['type'].value_counts(normalize=True)

type
earthquake      0.980174
quarry blast    0.012144
explosion       0.007266
ice quake       0.000415
Name: proportion, dtype: float64

In [14]:
df.isna().sum()

depth                 0
magType               1
type                  0
horizontalError    2270
verticalError      2270
dtype: int64

In [29]:
df1 = df.copy()
df1

           depth magType        type  horizontalError  verticalError
0       2.090000      md  earthquake             0.28          0.140
1       4.740000      ml  earthquake             0.45          0.225
2      33.029999      ml  earthquake             0.35          0.175
3     111.910000      mb  earthquake            10.20          5.100
4       4.550400      ml  earthquake             0.00          0.000
...          ...     ...         ...              ...            ...
9629    4.640000      ml  earthquake              NaN            NaN
9630   17.180000     NaN  earthquake             1.19          0.595
9631   11.860000      md  earthquake             0.26          0.130
9632    9.750000      ml  earthquake             0.29          0.145
9633    0.900000      ml  earthquake              NaN            NaN

[9634 rows x 5 columns]

In [21]:
import numpy as np 

df1['horizontalError'] = df['horizontalError'].replace(np.NaN, df['horizontalError'].mean())
df1

           depth magType        type  horizontalError  verticalError
0       2.090000      md  earthquake         0.280000          0.140
1       4.740000      ml  earthquake         0.450000          0.225
2      33.029999      ml  earthquake         0.350000          0.175
3     111.910000      mb  earthquake        10.200000          5.100
4       4.550400      ml  earthquake         0.000000          0.000
...          ...     ...         ...              ...            ...
9629    4.640000      ml  earthquake         1.664508            NaN
9630   17.180000     NaN  earthquake         1.190000          0.595
9631   11.860000      md  earthquake         0.260000          0.130
9632    9.750000      ml  earthquake         0.290000          0.145
9633    0.900000      ml  earthquake         1.664508            NaN

[9634 rows x 5 columns]

In [22]:
df1['horizontalError']

0        0.280000
1        0.450000
2        0.350000
3       10.200000
4        0.000000
          ...
9629     1.664508
9630     1.190000
9631     0.260000
9632     0.290000
9633     1.664508
Name: horizontalError, Length: 9634, dtype: float64

In [23]:
df1.isna().sum()

depth                 0
magType               1
type                  0
horizontalError       0
verticalError      2270
dtype: int64

In [25]:
df1['horizontalError'] = df1['horizontalError'].replace(np.NaN, df1['horizontalError'].median())

In [26]:
df1

           depth magType        type  horizontalError  verticalError
0       2.090000      md  earthquake             0.28          0.140
1       4.740000      ml  earthquake             0.45          0.225
2      33.029999      ml  earthquake             0.35          0.175
3     111.910000      mb  earthquake            10.20          5.100
4       4.550400      ml  earthquake             0.00          0.000
...          ...     ...         ...              ...            ...
9629    4.640000      ml  earthquake             0.44            NaN
9630   17.180000     NaN  earthquake             1.19          0.595
9631   11.860000      md  earthquake             0.26          0.130
9632    9.750000      ml  earthquake             0.29          0.145
9633    0.900000      ml  earthquake             0.44            NaN

[9634 rows x 5 columns]

In [27]:
df1.isna().sum()

depth                 0
magType               1
type                  0
horizontalError       0
verticalError      2270
dtype: int64

In [30]:
df1['horizontalError']

0        0.28
1        0.45
2        0.35
3       10.20
4        0.00
        ...
9629      NaN
9630     1.19
9631     0.26
9632     0.29
9633      NaN
Name: horizontalError, Length: 9634, dtype: float64

In [31]:
import statistics
df2 = df.copy()
df2['horizontalError'] = df2['horizontalError'].replace(np.NaN, statistics.mode(df2['horizontalError']))

In [32]:
df2

           depth magType        type  horizontalError  verticalError
0       2.090000      md  earthquake             0.28          0.140
1       4.740000      ml  earthquake             0.45          0.225
2      33.029999      ml  earthquake             0.35          0.175
3     111.910000      mb  earthquake            10.20          5.100
4       4.550400      ml  earthquake             0.00          0.000
...          ...     ...         ...              ...            ...
9629    4.640000      ml  earthquake             0.25            NaN
9630   17.180000     NaN  earthquake             1.19          0.595
9631   11.860000      md  earthquake             0.26          0.130
9632    9.750000      ml  earthquake             0.29          0.145
9633    0.900000      ml  earthquake             0.25            NaN

[9634 rows x 5 columns]

In [33]:
df2.isna().sum()

depth                 0
magType               1
type                  0
horizontalError       0
verticalError      2270
dtype: int64

In [34]:
df1['horizontalError'] = df1['horizontalError'].interpolate(method='linear',axis=0)

In [35]:
df1

           depth magType        type  horizontalError  verticalError
0       2.090000      md  earthquake         0.280000          0.140
1       4.740000      ml  earthquake         0.450000          0.225
2      33.029999      ml  earthquake         0.350000          0.175
3     111.910000      mb  earthquake        10.200000          5.100
4       4.550400      ml  earthquake         0.000000          0.000
...          ...     ...         ...              ...            ...
9629    4.640000      ml  earthquake         1.033828            NaN
9630   17.180000     NaN  earthquake         1.190000          0.595
9631   11.860000      md  earthquake         0.260000          0.130
9632    9.750000      ml  earthquake         0.290000          0.145
9633    0.900000      ml  earthquake         0.290000            NaN

[9634 rows x 5 columns]